<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="index-wrapper">
        <h1 class="index-title">プロフィール編集</h1>
<form th:method="patch" th:action="@{./}" th:object="${customerInput}">
    氏名: <input type="text" th:field="*{name}" />
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

    email: <input type="text" th:field="*{email}" />
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <input type="submit" value="編集" />
    <a href="javascript:void(0);" onclick="window.history.back();">戻る</a>
</form>
</div>
</div>
</body>
</html>