<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
<div class="container">
<!--<h1 th:text="${customer.name}"></h1>-->
<!--<span th:text="${customer.email}"></span>-->
    <div class="name-card-wrapper">
    <div class="name-card">
        <div class="main-contents"></div>
        <div class="sub-contents"></div>
        <div class="main-orb">東京大学後期教養学部</div>
        <div class="name">江口 大志</div>
        <div class="sub-org">zozoテクノロジーズ</div>
        <i class="fas fa-phone fa-flip-horizontal"></i><div class="phone_number">080 2212 2297</div>
        <i class="fas fa-envelope"></i><div class="email">taishi2060@gmail.com</div>
        <i class="fab fa-github"></i><div class="github-name">shierote</div>
        <i class="fab fa-twitter"></i><div class="twitter-name">シエロ</div>
    </div>
    </div>
<a class="show-back-btn" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
</div>
</body>
</html>