:root {
    --mcolor: #C12B2B;
    --bcolor: #150E0E;
    --fcolor: #FFFFFF;
    --scolor: #707070;
}

body {
    font-family: "Noto Sans";
    background-color: var(--bcolor);
    color: var(--fcolor);
}

.new-btn {
    position: fixed;
    bottom: 82px;
    right: 82px;
    border-radius: 75px;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: var(--mcolor);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: var(--fcolor);
}

.container {
    height: 678px;
    line-height: 150px;
    border: 19px var(--fcolor) solid;
    margin: 24px;
}

.index-title {
    margin: 40px;

}

li {
    list-style-type: none;
}
li::before {
    display: inline-block;

    width: 32px;
    height: 32px;

    content: '';

    border-radius: 100%;
    background: var(--fcolor);
}

.customer-name {
    font-size: 28px;
    color: var(--fcolor);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    left: 6px;
    top: -5px
}

.customer-edit {
    text-decoration: none;
    display: inline-block;
    background-color: var(--fcolor);
    height: 32px;
    line-height: 33px;
    width: 80px;
    position: absolute;
    left: 270px;
    color: var(--bcolor);
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

.customer-delete {
    position: relative;
    top: -42px;
    left: 275px;
    background-color: var(--mcolor);
    border: 0;
    height: 34px;
    line-height: 32px;
    width: 80px;
    font-weight: bold;
    color: var(--fcolor);
    font-size: 13px;
}

.hello-title{
    font-size: 60px;
    position: relative;
    margin: 0 auto;
    top: 312px;
    text-decoration: none;
    color: var(--fcolor);
    margin-left: 480px;
    font-weight: bold;
}

.name-card-wrapper{
    position: relative;
}

.name-card {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 610px;
    height: 368px;
    background-color: var(--fcolor);
    color: var(--bcolor);
}

.main-contents {
    width: 241px;
    border-top: 368px solid var(--mcolor);
    border-right: 157px solid transparent;
    height: 0;
}

.sub-contents {
    position: absolute;
    top: 242px;
    left: 266px;
    width: 0px;
    border-bottom: 126px solid var(--scolor);
    border-right: 145px solid transparent;
    border-left: 55px solid transparent;
    height: 0;
}

.main-orb {
    float: left;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--bcolor);
}

.name {
    float: left;
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 42px;
    font-weight: bold;
    color: var(--bcolor);
}

.sub-org {
    float: left;
    position: absolute;
    top: 242px;
    right: 20px;
    color: var(--bcolor);
}

.phone_number {
    float: right;
    position: absolute;
    color: var(--fcolor);
    top: 0;
    left: 80px;
    font-size: 24px;
    font-weight: bold;
}

.fa-phone {
    position: absolute;
    top: 60px;
    left: 36px;
    font-size: 32px;
    color: var(--fcolor);
}

.email {
    float: right;
    position: absolute;
    color: var(--fcolor);
    top: 69px;
    left: 80px;
    font-size: 18px;
    font-weight: bold;
}

.fa-envelope {
    position: absolute;
    top: 128px;
    left: 36px;
    font-size: 32px;
    color: var(--fcolor);
}

.github-name {
    float: right;
    position: absolute;
    color: var(--fcolor);
    top: 140px;
    font-size: 24px;
    font-weight: bold;
    left: 80px;
}

.fa-github {
    position: absolute;
    top: 200px;
    left: 36px;
    font-size: 32px;
    color: var(--fcolor);
}

.twitter-name {
    float: right;
    position: absolute;
    color: var(--fcolor);
    top: 220px;
    left: 80px;
    font-size: 24px;
    font-weight: bold;
}
.fa-twitter {
    position: absolute;
    top: 280px;
    left: 36px;
    font-size: 32px;
    color: var(--fcolor);
}

.show-back-btn {
    display: inline-block;
    position: absolute;
    bottom: 115px;
    text-align: center;
    left: 650px;
    width: 120px;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    color: var(--fcolor);
    font-weight: bold;
    background-color: var(--mcolor);
}
/*.sub-contents {*/
    /*width: 120px;*/
    /*border-bottom: 80px solid orange;*/
    /*border-left: 20px solid transparent;*/
    /*border-right: 20px solid transparent;*/
    /*height: 0;*/
/*}*/